@import '../../../../styles/variables.scss';

// Basic button styles
a {
	text-decoration: none;
	background: none;
	border: 2px solid;
	line-height: 1;
	margin: 0.5em;
	padding: 1em 2em;
	color: #ffffff;
	transition: 0.25s;
	border-color: $green;
	text-transform: uppercase;

	&:hover,
  	&:focus { 
    	border-color: $blue-lighter;
    	color: #fff;
  	}
  }
  

.offset {  
	box-shadow: 
	  0.3em 0.3em 0 0 $green,
	  inset 0.3em 0.3em 0 0 $green;
	
	&:hover,
	&:focus {
	  box-shadow: 
		0 0 0 0 $blue-lighter,
		inset 6em 3.5em 0 0 $blue-lighter;
	}
  }