<div id="about" class="container">
    <div class="row center-xs">
        <div class="col-xs-5 col-md-4 col-lg-3">
            <img src="assets/skiing-square.jpg" alt="Profile Picture">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 center-xs">
        <h1 class="accent-font primary-text">Let me introduce myself.</h1>
    </div>
    </div>
    <div class="row center-xs">
        <div class="col-xs-10">
            <p class="lead">
                I develop scalable, reliable tech solutions for a wide range of industries and clients.
            </p>
        </div>
    </div>
    <div class="row center-xs">
        <div class="col-xs-12">
            <hr>
            <div class="row about-row">
                <div class="col-xs-6 end-xs">
                    <span class="accent-font accent-text">
                        Name:
                    </span>
                </div>
                <div class="col-xs-6 start-xs">
                    <span>
                        Quaid DeLacluyse
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row center-xs">
        <div class="col-xs-12">
            <div class="row about-row">
                <div class="col-xs-6 end-xs">
                    <span class="accent-font accent-text">
                        Current Position:
                    </span>
                </div>
                <div class="col-xs-6 start-xs">
                    <span>
                        Business Intelligence Solutions Architect
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row center-xs">
        <div class="col-xs-12">
            <div class="row about-row">
                <div class="col-xs-6 end-xs">
                    <span class="accent-font accent-text">
                        Location:
                    </span>
                </div>
                <div class="col-xs-6 start-xs">
                    <span>
                        Cincinnati, OH
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row center-xs">
        <div class="col-xs-12">
            <div class="row about-row">
                <div class="col-xs-6 end-xs">
                    <span class="accent-font accent-text">
                        Phone:
                    </span>
                </div>
                <div class="col-xs-6 start-xs">
                    <span>
                        (224) 600-4622
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt">
        <div class="col-xs-12 center-xs button-group">
            <hr>
            <app-button [text]="'Hire Me'" [link]="'#contact'" [filled]="true"></app-button>
            <app-button [text]="'Download Resume'" [link]="'assets/Quaid DeLacluyse Resume_09-01-19.pdf'" [filled]="false"></app-button>
        </div>
    </div>
</div>