<nav>
    <!-- Desktop Nav -->
    <div class="navbar desktop-nav">
        <div class="navbar-overlay"></div>
        <div class="logo-container">
            <img class="logo" src="assets/logos/qc-logo_white_no-bg_wide.png" alt="Quaid Consulting Logo">
        </div>
        <div class="divide"></div>
        <div class="nav-links accent-font">
            <a class="desktop-nav-link" href="">Home</a>
            <a class="desktop-nav-link" href="">Portfolio</a>
            <a class="desktop-nav-link" href="">About Us</a>
            <a class="desktop-nav-link" href="">Contact Us</a>
        </div>
    </div>
    <!-- Mobile Nav -->
    <div class="mobile-nav">
        <div class="navbar-overlay"></div>
        <div class="navbar">
            <span (click)="onToggle()" class="hamburger action">
                <i id="hamburger-button" class="material-icons">menu</i>
            </span>
            <span class="divide"></span>
            <a class="logo-container" href="/">
                <img class="logo" src="assets/logos/qc-logo_white_no-bg_wide.png" alt="Quaid Consulting Logo">
            </a>
            <span class="divide"></span>
            <span class="action"></span>
        </div>
    </div>

    <!-- SVG PATHS AND MOBILE NAV LINKS -->
    <div class="global-menu" [ngClass]="{'no-events': !this.isOpened}">
        <div class="global-menu__wrap">
            <a (click)="onToggle()" [ngClass]="{'is-opened': this.isOpened}" class="menu-item accent-font" href="#">Home</a>
            <a (click)="onToggle()" [ngClass]="{'is-opened': this.isOpened}" class="menu-item accent-font" href="#experience">Portfolio</a>
            <a (click)="onToggle()" [ngClass]="{'is-opened': this.isOpened}" class="menu-item accent-font" href="#projects">About Us</a>
            <a (click)="onToggle()"[ngClass]="{'is-opened': this.isOpened}" class="menu-item accent-font" href="#contact">Contact Us</a>
        </div>
    </div>
    <svg class="shape-overlays" viewBox="0 0 100 100" preserveAspectRatio="none">
        <defs>
            <linearGradient id="gradient1" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" stop-color="#69f0ae" />
                <stop offset="100%" stop-color="#a4f3cc" />
            </linearGradient>
            <linearGradient id="gradient2" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" stop-color="#64b5f6" />
                <stop offset="100%" stop-color="##b5deff" />
            </linearGradient>
            <linearGradient id="gradient3" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" stop-color="#3e6351" />
                <stop offset="100%" stop-color="#2f5a7d" />
            </linearGradient>
        </defs>
        <path class="shape-overlays__path"></path>
        <path class="shape-overlays__path"></path>
        <path class="shape-overlays__path"></path>
    </svg>
</nav>