<div id="intro">
    <div class="intro-overlay"></div>
    <div class="intro-content">
        <div class="row no-margin">
            <div class="col-xs-12">
                <h5 class="accent-text">Hey there!</h5>
                <h1>I'm Quaid DeLacluyse.</h1>
                <p class="intro-position">
                    <span class="typewrite">
                        <span class="wrap"></span>
                    </span>
                </p>
                <app-button [text]="'More About Me'" [link]="'#about'" [filled]="false"></app-button>
            </div>
        </div>
    </div>
    <app-social-media-links></app-social-media-links>
</div>
<!-- <app-waves></app-waves> -->
<app-about></app-about>