// ===========================Breakpoints
$sm-bp: 62em;
$md-bp: 20em;
$lg-bg: 30em;

// ===========================Colors
// Brand Colors
$blue-darker: #011936;
$blue: #465362;
$blue-lighter: #82a3a1;
$green: #9FC490;
$green-lighter: #C0DFA1;

// General Colors
$dark-grey: #303030;
$light-grey: #aaaaaa;