<div class="intro">
  <div class="intro-content row">
      <div class="intro-heading col-sm-12 col-md-6">
          <h1 class="tagline accent-font">
              Pushing the limits of your business through technology
          </h1>
          <h2 class="intro-paragraph accent-font">
            Using state-of-the-art technology solutions to make your business more productive, 
            more profitable, and more strategic.
          </h2>
          <span class="call-to-action">
              <app-button [text]="'Find Out How'" [filled]='true'></app-button>
          </span>
      </div>
      <div class="intro-image col-sm-12 col-md-6">
         <img src="assets/intro-wireframe.svg" alt="Introduction Graphic">
      </div>
  </div>
</div>