@import '../../../../styles/variables.scss';

.intro {
    width: 100%;
    padding-bottom: 50px;
    position: relative;
    background: linear-gradient(135deg, transparent, $blue, $dark-grey, $blue-lighter);
    background-size: 400% 400%;
    display: flex;
    flex-direction: row;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: ColorFade 20s ease infinite; 

    .intro-content {
        padding-top: 100px;
        max-width: 1800px;
        margin: auto;
    }

    .intro-image {
        img {
            width: 100%;
            height: auto; 
        }
    }
	.intro-heading {
		text-align: left;
		display: flex;
		flex-direction: column;
        align-self: center;
        padding-left: 20px;
	}
}

.tagline {
    text-align: left;
    margin: 0;
    font-size: 2em;
}

.intro-paragraph {
    color: $light-grey;
}

.call-to-action {
    margin: 20px auto;
    display: block;
}

.row {
    margin: 0;
    div {
        height: 100%;
    }
}

@-webkit-keyframes ColorFade {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes ColorFade {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes ColorFade {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@media only screen and (min-width: $md-bp) {
    .intro {
        height: 100vh;
        .intro-content {
            padding-top: 0px;
        }
    }
    .tagline {
        font-size: 3em;
    }
}