@import '../../../../styles/variables.scss';

.page-footer {
  background-color: $blue;
}

.footer {
  background-color: $blue-darker;
  .footer-links {
    max-width: 1800px;
    margin: auto;
  }
}

.logo {
  margin: 1em;
  height: 10em;
  width: auto;
}

.footer-copyright {
  max-width: 1800px;
  margin: auto;
  overflow: hidden;
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
}