<footer class="page-footer">
  <div class="footer">
    <div class="row footer-links">
      <div class="col-xs-12 col-lg-6">
        <img class="logo" src="assets/logos/qc-logo_white_no-bg_wide.png" alt="Logo">
        <p class="">Pushing your organization's limits through technology</p>
      </div>
      <div class="col-lg-4 offset-col-lg-2 col-xs-12">
        <h3 class="accent-font">Links</h3>
        <ul>
          <li><a class="" routerLink>Home</a></li>
          <li><a class="" routerLink>Our Portfolio</a></li>
          <li><a class="" routerLink>About Quaid Consulting</a></li>
          <li><a class="" routerLink>Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
    <div class="footer-copyright">
      &copy; Quaid Consulting 2020
    </div>
  </footer>